<div class="profile-container">
  <h3><%= @profile.first_name %> <%= @profile.last_name %></h3>
  <% if @user == current_user %>
    <%= link_to "Edit", edit_user_profile_path(@user), :class => "button" %>
  <% end %>
  <p><%= @user.email %></p>
  <hr>
  <p><b>Favorite Fruit:</b> <%= @profile.favorite_fruit %></p>
  <hr>
  <div>
    <h5 class="title">Bio:</h5>
    <div class="content">
      <div class="row">
        <div class="large-12 columns">
          <%= @profile.biography %>
        </div>
      </div>
    </div>
  </div>
</div>
 
    <!-- Sidebar -->
 
<div class="large-3 columns">
  <h5>Me</h5>
  <div>
    <img src="<%= @profile.url %>">
  </div>
</div>
<!-- End Sidebar -->
  <% unless @reviews.empty? %>
    <div class="user-reviews">
      <div class="user-reviews-wrapper">
        <hr>
        <h3>Reviews by <%= @profile.first_name %></h3>
        <hr>
        <% @reviews.each do |review| %>
          <% product = Product.find(review.product_id) %>
          <h5>Product: <%= product.name %></h6>
          <h6>Reviewed: <%= review.created_at %></h6>
          <p><%= review.content %></p>
          <hr>
        <% end %>
      </div>
    </div>
  <% end %>

</div>